<!DOCTYPE html>
<html class="no-js no-svg" {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}" />
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <link rel="profile" href="http://gmpg.org/xfn/11">

    {% include 'partials/favicon.twig' %}
 
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet"> 

    {{ function('wp_head') }}    
  </head>

  <body class="{{ body_class }} text-base md:text-lg font-body pt-16 lg:pt-32" data-template="base.twig">
    {% if function('function_exists', 'gtm4wp_the_gtm_tag') %}
      {{ function('gtm4wp_the_gtm_tag') }}
    {% endif %}
    
    <a class="skip-link screen-reader-text sr-only" href="#content">{{ __( 'Skip to content') }}</a>
    
    <div id="app">
      {% include 'partials/header.twig' %}

      <section id="content" role="main" class="content min-h-half">
        {% block content %}
          Sorry, no content
        {% endblock %}
      </section>

      {% include 'partials/footer.twig' %}
    </div>

    {{ function('wp_footer') }}
  </body>
</html>
